html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: blue;
}

* {
  box-sizing: border-box;
}

.sliderWrapper > .chakra-slider > .chakra-slider__track {
  background: none;
}

.sliderWrapper
  > .chakra-slider
  > .chakra-slider__track
  > .chakra-slider__filled-track {
  background: var(--chakra-colors-gray-200);
}

.chakra-slider__thumb:focus {
  box-shadow: var(--chakra-shadows-base) !important;
}
